# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
.env/
.env.bak/

# Pytest
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml
